<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">

    <a  class=" navbar-brand" href="/">bolnabhai</a>
    <button class="navbar-toggler" id="toggleButton" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"  id="navbarNavAltMarkup" style="position: fixed;right: 0px" >
        <div class="navbar-nav"  >
            <a class="nav-item nav-link active" href="/">Profile</a>
            <span style="cursor:pointer" class="nav-item nav-link active" id="logout">Log Out</span>
            <a class="nav-item nav-link" href="/aboutus">About Us</a>

        </div>
    </div>
    <script>

        document.getElementById('toggleButton').onclick = function(){
            document.getElementById('navbarNavAltMarkup').style.setProperty('position','');
            document.getElementById('navbarNavAltMarkup').style.setProperty('right','');
        }
    $(function(){

        $('#logout').click(function(){
            $.post('/logout',function(){
                console.log(window.location);
                window.location = '/login';
            });
        })

    })


    </script>
</nav>
