<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bolnabhai</title>
    {{> head}}

</head>
<body style="font-family: 'Oswald', sans-serif;"    >

    {{> header}}

    <div align="center" class="jumbotron" style="top: 50px;position: relative">

        <h1>Email Sent. Check Your Mail</h1>

    </div>


</body>
</html>