<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bolnabhai - Log In</title>
    {{> head}}
</head>
<body style="font-family: 'Oswald', sans-serif;">

{{> header}}
<div class="container col-lg-4 col-sm-10" style="position: relative;top: 230px;">
    <form  action="/login" method="post">

        <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Username</button>
      </span>
            <input autofocus type="text" tabindex="1" class="form-control" name="username">
        </div>

        <br>

        <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Password</button>
      </span>
            <input type="password" tabindex="2" class="form-control" name="password">
        </div>


        <br>

        <input class="btn btn-block btn-success" tabindex="3" type="submit" value="Log In">

        <br>

    </form>


    <a  href="/signup">New User? Sign Up</a>
</div>
</body>
</html>

