<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bolnabhai</title>
    {{>head}}
</head>
<body>
{{#if logged}}
    {{> profileHead}}
{{else}}
    {{> header}}
{{/if}}

    <div class="container">

        <h1 align="center">No User Found</h1>
        <p align="center">Check Your Link</p>

    </div>

</body>
</html>