<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bolnabhai</title>
    {{> head}}
</head>
<body style="font-family: 'Oswald', sans-serif;">
{{#if logged}}
    {{> profileHead}}
{{else}}
    {{> header}}
{{/if}}
    <div class="jumbotron"style="padding-top: 120px;">
        <h1 align="center">Feedback Sent</h1>
    </div>

</body>
</html>